@import url(./common.css);
@mixin box($color: black) {
    border: 1px solid $color;
    box-sizing: border-box;
}
main {
    @include box(transparent);
    position: relative;
}
div.bgtext {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    z-index: -1;
    overflow: hidden;
    img {
        animation: textani 1000ms;
    }
}
@keyframes textani {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

div.main-inner {
    width: 70%;
    margin: 50px auto;
    div.menu-container {
        height: 70px;
        ul {
            display: flex;
            border: 1px solid rgba(0, 0, 0, 0.2);
            height: 100%;
            justify-content: space-around;
            align-items: center;
            li {
                width: 100%;
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                height: 100%;
                a {
                    color: rgba(0, 0, 0, 0.4);
                    font-weight: bold;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 24px;
                    background-color: #e0e0e0;
                    position: absolute;
                    right: 0;
                    top: 23px;
                }
                &:last-child::after {
                    display: none;
                }
                &.this {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        border-bottom: 2px solid black;
                        transform: translateY(-100%);
                    }
                }
            }
        }
    }

    div.ongoing-top {
        margin-top: 60px;
        h4 {
            display: inline-block;
            font-size: 30px;
        }
        span {
            float: right;
            a {
                padding: 10px;
                width: 100%;
                height: 100%;
                img {
                    margin-left: 10px;
                    transition: 200ms;
                }

                &:hover img {
                    transform: translateX(10px);
                }
            }
        }
    }

    div.ongoing-container {
        a {
            div.ongoing-content {
                display: flex;
                padding: 30px 0;
                div.oc-left {
                    width: 25.5%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                div.oc-right {
                    width: 74.5%;
                    margin-left: 3%;
                    p.right-badge {
                        display: inline-block;
                        padding: 5px 12px;
                        font-size: 12px;
                        font-weight: bold;
                        border: 1px solid black;
                    }
                    p.right-title {
                        font-size: 25px;
                        line-height: 2;
                        font-weight: bold;
                    }
                    p.right-text {
                        font-size: 16px;
                        height: 5em;
                    }
                    ul {
                        display: inline-block;
                        li {
                            display: inline-block;
                            margin-right: 20px;
                            font-size: 14px;
                            &::after {
                                content: "";
                                position: absolute;
                                width: 1px;
                                height: 12px;
                                background-color: rgba(0, 0, 0, 0.2);
                                transform: translate(12px, 3px);
                            }
                            &:last-child::after {
                                display: none;
                            }
                        }
                    }
                }
            }
            &::before {
                content: "";
                display: block;
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }

            &::before {
                content: "";
                margin-top: 30px;
            }
            &:last-child::after {
                content: "";
                display: block;
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    div.main-inner {
        div.ongoing-container {
            a {
                div.ongoing-content {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0 0;
                    div.oc-left {
                        width: 100%;
                    }
                    div.oc-right {
                        width: 100%;
                        margin-left: 0;
                        p.right-badge {
                            padding: 5px 12px;
                            margin: 20px 0 10px;
                            font-size: 10px;
                        }
                        p.right-title {
                            font-size: 18px;
                        }
                        p.right-text {
                            font-size: 0;
                        }
                        ul {
                            display: block;
                            li {
                                display: block;
                                margin-right: initial;
                                font-size: 12px;
                                line-height: 2;
                                b {
                                    padding-right: 10px;
                                }
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &::before {
                    content: "";
                    display: block;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                }

                &::before {
                    content: "";
                    margin-top: 30px;
                }
                &:last-child::after {
                    content: "";
                    display: block;
                    margin: 30px 0 100px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .subpage-header {
        display: none;
    }

    div.main-inner {
        width: 95%;
        div.menu-container {
            height: auto;
            ul {
                display: flex;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-bottom: none;
                border-right: none;
                height: auto;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: center;
                li {
                    width: 50%;
                    display: flex;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    a {
                        color: rgba(0, 0, 0, 0.4);
                        font-weight: bold;
                    }
                    &:nth-child(even),
                    &:last-child {
                        border-right: 1px solid rgba(0, 0, 0, 0.2);
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 20px;
                        background-color: #e0e0e0;
                        position: absolute;
                        right: 0;
                        top: 16px;
                    }

                    &:nth-child(even)::after {
                        display: none;
                    }
                    &.this {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 100%;
                            width: 100%;
                            border-bottom: 2px solid black;
                            transform: translateY(-100%);
                        }
                    }
                }
            }
        }
        div.ongoing-top {
            margin-top: 20px;
            h4 {
                display: inline-block;
                font-size: 22px;
            }
            span {
                float: right;
                a {
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    img {
                        margin-left: 10px;
                        transition: initial;
                    }

                    &:hover img {
                        transform: initial;
                    }
                }
            }
        }
        div.ongoing-container {
            a {
                div.ongoing-content {
                    display: flex;
                    padding-bottom: 20px;
                    &::before {
                        content: "";
                        margin: 0px;
                    }
                }
            }
        }
    }
}
