@import url(./common.css);
@mixin box($color: black) {
    border: 1px solid $color;
    box-sizing: border-box;
}

div.sub-header-title{
    h2{
        text-align: center;
        font-size: 60px;
        letter-spacing: 5px;
        margin: 130px 0 110px;
    }
}

main {
    @include box(transparent);
    position: relative;
}
div.bgtext {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    z-index: -1;
    overflow: hidden;
    img{
        animation: textani 1000ms;
    }
}
@keyframes textani {
    0%{
        transform: translateX(100%);
    }    
    100%{
        transform: translateX(0);
    }
}

div.main-inner {
    width: 70%;

    margin: 50px auto;

    div.achive-link {
        display: flex;
        justify-content: end;
        a {
            padding: 20px;
            img{
                transition: 300ms;
            }

            &:hover img{
                transform: translateX(10px);
            }
        }

        
    }

    div.ex-local-content-wrap {
        &::before {
            content: "";
            display: block;
            border: 1px solid black;
            margin-bottom: 50px;
        }
        div.ex-local-content {
            display: flex;
            justify-content: space-between;
            a {
                div.ex-local-img-wrap {
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: 800ms;
                    }
                }
                div.ex-local-text-wrap {
                    margin: 30px 0;
                    > span.badge {
                        border: 1px solid black;
                        font-weight: bold;
                        font-size: 12px;
                        padding: 2px;
                    }
                    h4{
                        font-size: 30px;
                        line-height: 3;
                    }
                    p{
                        line-height: 1.7;
                        b{
                            margin-right: 15px
                        }
                    }
                }
                &:hover div.ex-local-img-wrap img{
                    transform: scale(1.1);
                }
            }
        }
    }
}
