@import url(./common.css);
@mixin box($color: black) {
    border: 1px solid $color;
    box-sizing: border-box;
}


div.main-inner{
    width: 70%;

    margin: 50px auto;
    h2{
        text-align: center;
        font-size: 60px;
        letter-spacing: 5px;
        margin: 130px 0;
    }
    h4{
        font-size: 24px;
        line-height: 3;
    }

    *table{
        width: 100%;
        margin-bottom: 30px;
        border-top: 2px solid black;
        text-align: center;
        tr,
        th,
        td{
            border-bottom: 1px solid rgba(0,0,0,0.2);
            padding: 20px;
            vertical-align: middle;
        }
        th{
            font-weight: 400;
        }
        td{
            border-left: 1px solid rgba(0,0,0,0.2);
        }
    }

    div.view-time{
        table{
            tr{
                th{

                }
                td{
                    span{
                        color: red;
                    }
                    b{
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    div.view-program{
        table{
            tr.color-title{
                background: rgba(0,0,0,0.05);
            }
        }
    }

}