@charset "UTF-8";
@import url(./common.css);
main {
  width: 100%;
  overflow: hidden;
}

div.visual-container {
  width: 90%;
  margin: 0 auto;
}
div.visual-container div.visual-video {
  width: 100%;
  height: auto;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}
div.visual-container div.visual-video video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
div.visual-container div.visual-notice {
  width: 100%;
  height: 50px;
}
div.visual-container div.visual-notice div {
  display: inline-block;
}
div.visual-container div.visual-notice div.today-time {
  position: relative;
  width: 10%;
  line-height: 50px;
  float: left;
  text-align: center;
  background: #1f5153;
}
div.visual-container div.visual-notice div.today-time img {
  transform: translateY(4px);
}
div.visual-container div.visual-notice div.today-time span {
  color: white;
}
div.visual-container div.visual-notice div.time-notice {
  line-height: 50px;
  text-align: center;
}
div.visual-container div.visual-notice div.time-notice span {
  margin-left: 30px;
  font-weight: 500;
}
div.visual-container div.visual-notice div.time-notice span::after {
  content: "";
  width: 1px;
  height: 16px;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  transform: translate(17px, 19px);
}
div.visual-container div.visual-notice div.time-notice span:last-child::after {
  display: none;
}
div.visual-container div.map-link {
  width: 10%;
  line-height: 50px;
  float: right;
  text-align: center;
}
div.visual-container div.map-link a img {
  transform: translateY(3px);
}

@-webkit-keyframes scrollanimation1 {
  0% {
    transform-origin: top;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scrollanimation1 {
  0% {
    transform-origin: top;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scrollanimation2 {
  0% {
    transform-origin: bottom;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scrollanimation2 {
  0% {
    transform-origin: bottom;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/*notice*/
div.notice-container {
  width: 80%;
  height: 80px;
  margin: 100px auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  display: flex;
}
div.notice-container div.notice-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10%;
  height: 100%;
}
div.notice-container div.notice-title img {
  transform: translateY(4px);
  margin: 0 5px;
}
div.notice-container div.notice-title::after {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 50%;
  right: -20px;
  transform: translateY(-45%);
}
div.notice-container .notice-content {
  display: flex;
  position: relative;
  width: 80%;
  margin-left: 20px;
  height: 100%;
}
div.notice-container .notice-content .slide {
  display: flex;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
div.notice-container .notice-content .slide a {
  display: flex;
  width: 100%;
  height: 100%;
}
div.notice-container .notice-content .slide a span {
  display: flex;
  height: 100%;
  align-items: center;
}
div.notice-container .notice-content .slide a span:first-child {
  width: 15%;
  justify-content: center;
}
div.notice-container .notice-content .slide a span:last-child {
  width: 85%;
  margin-left: 2%;
}
div.notice-container .notice-content .showing {
  opacity: 1;
}
div.notice-container div.notice-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
div.notice-container div.notice-more img {
  transition: 200ms;
}
div.notice-container div.notice-more:hover img {
  transform: translateX(10px);
}

/*notice*/
/*news*/
div.news-container {
  width: 80%;
  margin: 30px auto 10px;
}
div.news-container div.news-title {
  margin: 30px 0;
  position: relative;
  display: flex;
}
div.news-container div.news-title h2 {
  margin: 0 auto;
  font-size: 40px;
  letter-spacing: 3px;
}
div.news-container div.news-title div.news-slide-btn {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: flex-end;
}
div.news-container div.news-title div.news-slide-btn div {
  display: flex;
  width: 60px;
  height: 60px;
  border: 1px solid #1f5153;
  box-sizing: border-box;
  background: transparent url("../images/common/ic-angle-legt-black-24-dp.svg") no-repeat center center;
  margin-left: 20px;
  cursor: pointer;
  transition: 300ms;
}
div.news-container div.news-title div.news-slide-btn div:hover {
  background: #1f5153 url("../images/common/ic-angle-left-white-24-dp.svg") no-repeat center center;
}
div.news-container div.news-title div.news-slide-btn .rightbtn {
  transform: rotate(180deg);
}

div.news-content-wrap {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}
div.news-content-wrap div.news-content {
  display: inline-block;
  position: relative;
  width: 30%;
  margin-right: 5%;
  left: -50px;
}
div.news-content-wrap div.news-content a {
  display: block;
  width: 100%;
  height: 100%;
}
div.news-content-wrap div.news-content a div.news-wrap {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.news-content-wrap div.news-content a div.news-wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 500ms;
}
div.news-content-wrap div.news-content a div.news-wrap div.news-more {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  background: #1f5153;
  transition: 500ms;
  opacity: 0;
}
div.news-content-wrap div.news-content a div.news-wrap div.news-more p {
  color: white;
}
div.news-content-wrap div.news-content a p.news-badge {
  position: absolute;
  padding: 2px 20px;
  margin: 1px;
  font-size: 14px;
  font-weight: 500;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid #1f5153;
  box-sizing: border-box;
  transition: 500ms;
}
div.news-content-wrap div.news-content a p.news-period {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  font-family: "Gotham", sans-serif;
}
div.news-content-wrap div.news-content a p.news-title {
  font-size: 20px;
  font-weight: 500;
}
div.news-content-wrap div.news-content a:hover div.news-wrap img {
  filter: brightness(0.5);
  transform: scale(1.1);
}
div.news-content-wrap div.news-content a:hover div.news-wrap div.news-more {
  opacity: 1;
}
div.news-content-wrap div.news-content a:hover p.news-badge {
  filter: brightness(0.5);
}

/*news*/
/* div.relic-container {
    width: 80%;
    margin: 100px auto;
    div.relic-title {
        p {
            text-align: center;
            font-size: 40px;
        }

        &::after {
            margin-top: 100px;
            width: 100%;
            content: "";
            display: block;
            border-top: 2px solid black;
        }
    }

    div.relic-wrap {
        margin-top: 20px;
        display: flex;
        div.relic {
            width: 25%;
            padding: 10px;
            overflow: hidden;
            img {
                display: block;
                min-width: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}
 */
div.relic-container {
  width: 80%;
  margin: 100px auto;
}
div.relic-container div.relic-title {
  width: 100%;
}
div.relic-container div.relic-title p {
  text-align: center;
  font-size: 40px;
}
div.relic-container div.relic-title::after {
  margin-top: 100px;
  width: 100%;
  content: "";
  display: block;
  border-top: 2px solid black;
}
div.relic-container div.relic-wrap {
  -moz-column-count: 4;
       column-count: 4;
  border: 1px solid red;
  box-sizing: border-box;
}
div.relic-container div.relic-wrap div.relic {
  width: 100%;
  overflow: hidden;
  border: 1px solid blue;
  box-sizing: border-box;
}
div.relic-container div.relic-wrap div.relic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*shortcut*/
div.shortcut {
  width: 100%;
  height: 400px;
}
div.shortcut ul {
  width: 100%;
  font-size: 0;
}
div.shortcut ul li {
  display: inline-block;
  width: 33.33%;
  font-size: 0;
}
div.shortcut ul li a {
  position: relative;
}
div.shortcut ul li a div.shortcut-image-tray {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.shortcut ul li a div.shortcut-image-tray img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
  transition: 600ms linear;
  transform: scale(1.1);
}
div.shortcut ul li a div.shortcut-text-tray {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2;
}
div.shortcut ul li a div.shortcut-text-tray p:nth-child(1) {
  color: white;
  font-size: 32px;
  font-weight: bold;
}
div.shortcut ul li a div.shortcut-text-tray p:nth-child(2) {
  color: white;
  font-size: 16px;
}
div.shortcut ul li a div.shortcut-text-tray img {
  margin: 20px;
}
div.shortcut ul li a:hover div.shortcut-image-tray img {
  transform: scale(1.2);
}

/*shortcut*/
aside.donationbtnside {
  position: fixed;
  bottom: 80px;
  left: 50px;
  width: 85px;
  height: 85px;
  background: #eeeeee;
  border-radius: 50%;
  z-index: 100;
  box-shadow: -1px 1px 10px #bbbbbb;
}
aside.donationbtnside div.donationbtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
aside.donationbtnside div.donationbtn a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
aside.donationbtnside div.donationbtn a img {
  width: 20px;
  margin: 5px 0;
  -webkit-animation: "heartAnimation" 3000ms infinite;
          animation: "heartAnimation" 3000ms infinite;
}
aside.donationbtnside div.donationbtn a p {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
aside.donationbtnside:hover + div.circle div.circle1 {
  -webkit-animation: "circleWave1" 2000ms infinite;
          animation: "circleWave1" 2000ms infinite;
}
aside.donationbtnside:hover + div.circle div.circle2 {
  -webkit-animation: "circleWave2" 2000ms infinite;
          animation: "circleWave2" 2000ms infinite;
}
aside.donationbtnside:hover + div.circle div.circle3 {
  -webkit-animation: "circleWave3" 2000ms infinite;
          animation: "circleWave3" 2000ms infinite;
}

div.circle1 {
  position: fixed;
  bottom: 80px;
  left: 50px;
  width: 85px;
  height: 85px;
  background: #1f5153;
  border-radius: 50%;
  z-index: 99;
  transform: scale(0.9);
  opacity: 0.8;
}

div.circle2 {
  position: fixed;
  bottom: 80px;
  left: 50px;
  width: 85px;
  height: 85px;
  background: #3b9b9e;
  border-radius: 50%;
  z-index: 98;
  transform: scale(0.9);
  opacity: 0.8;
}

div.circle3 {
  position: fixed;
  bottom: 80px;
  left: 50px;
  width: 85px;
  height: 85px;
  background: #6ed8db;
  border-radius: 50%;
  z-index: 97;
  transform: scale(0.9);
  opacity: 0.8;
}

/* html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
} */
/*NEWS 슬라이드 CSS*/
/* .swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/*NEWS 슬라이드 CSS*/
@-webkit-keyframes heartAnimation {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes heartAnimation {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}
@-webkit-keyframes circleWave1 {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes circleWave1 {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@-webkit-keyframes circleWave2 {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes circleWave2 {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@-webkit-keyframes circleWave3 {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes circleWave3 {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}/*# sourceMappingURL=home.css.map */