@import url(./common.css);
@mixin box($color: black) {
    border: 1px solid $color;
    box-sizing: border-box;
}


div.sub-header-title{
    h2{
        text-align: center;
        font-size: 60px;
        letter-spacing: 5px;
        margin: 130px 0;
    }
}

.is-hidden { display: none; }



div.main-inner{
    width: 70%;

    margin: 50px auto;

    div.search-container{
        text-align: center;
        input{
            width: 50%;
            height: 50px;
            border: none;
            outline: none;
            font-size: 20px;
            border-bottom: 2px solid black;
            &::placeholder{
                color: rgba(0,0,0,0.4);
                font-weight: 600;
                letter-spacing: -1px;
            }
            /* 앞쪽에 돋보기 뒤쪽에 취소버튼 생기면 좋을듯 취소는 기본이니 돋보기 앞쪽에 */
        }
    }
}


/*notice.js의 검색알고리즘 가져올듯*/